{% extends "default.html" %}
{% block content %}
{% load static %}
    <main style="padding: 13%;">
      <div class="bg-dark rounded-lg" style="width: 95%; margin: 50px auto; max-width: 500px;">
        <div class="p-2" style="width: 95%; margin: 50px auto;">
          <h4 class="text-center mb-4 text-white"> Форма входа </h4>
          <form method="POST" class="text-white">
            {% csrf_token %}
            <div class="form-group">
              <input name="login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Логин">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <p class="text-danger">{{ error }}</p>
            <div class="form-inline">
              <button type="submit" class="btn btn-success">Log in</button>
              <div class="ml-auto">
                <a class="btn btn-primary" href="{% url 'firsttime' %}">First time</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
{% endblock %}
