{% extends "default.html" %}
{% block content %}
{% load static %}
    <header>
      <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
          <a href="{% url 'base' %}" class="navbar-brad"><img id="im" src="{% static 'image/Logo.svg' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon text-white">&#9776;</span>
          </button>
            <div align="center" class="collapse navbar-collapse mt-2" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active mb-2">
                  <a href="{% url 'base' %}" class="nav-link my_tekst text-white">Market</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item mb-2">
                  <a href="{% url 'logout' %}">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</button>
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a href="{% url 'panel' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-user"></i></button>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="p-5">
      <div class="mx-auto container my-4 text-white rounded text-center bg-dark p-4 row">
        <div class="container m-1 col-md">
          <p>№</p>
        </div>
        <div class="container m-1 col-md">
             <p>Name of user</p>
        </div>
        <div class="container m-1 col-md">
             <p>Phone</p>
        </div>
        <div class="container m-1 col-md">
             <p>Address</p>
        </div>
      </div>
      {% for order in orders %}
      <div class="container">
        <a class="text-white" href="order/{{ order.id }}">
          <div class="my-2 mx-auto container manage_order text-white rounded text-center p-4 row {% if order.status == 0 %} bg-secondary {% elif order.status == 1 %} bg-primary {% elif order.status == 2 %} bg-success {% elif order.status == 3 %} bg-danger {% endif %}">
            <div class="container m-1 col-md">
              <p>№ {{ order.id }}</p>
            </div>
            <div class="container m-1 col-md">
                 <p>{{ order.name_of_user }}</p>
            </div>
            <div class="container m-1 col-md">
                 <p>{{ order.phone }}</p>
            </div>
            <div class="container m-1 col-md">
                 <p>{{ order.address }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </main>
{% endblock %}
