{% extends "default.html" %}
{% block content %}
{% load static %}
    <header class="">
      <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
           <a href="{% url 'base' %}" class="navbar-brad"><img id="img" src="{% static 'image/Logo.svg' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon text-white">&#9776;</span>
          </button>
            <div class="collapse navbar-collapse mt-2" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active mb-2">
                  <a href="{% url 'index' %}" class="nav-link my_tekst text-white">Market</a>
                </li>
                <li class="nav-item active mb-2">
                  <a href="{% url 'index' %}" class="nav-link my_tekst text-white">Manage Order</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item mb-2">
                  <a href="{% url 'logout' %}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    <main style="padding: 3%;">
      <div class="bg-dark rounded-lg" style="width: 95%; margin: 50px auto; max-width: 500px;">
        <div class="p-2 text-white" style="width: 95%; margin: 50px auto;">
          <h4 class="text-center mb-4 text-white"> Personal data editing panel </h4>
          <form method="POST">
            {% csrf_token %}
            <p>Nickname *<input name="nickname" placeholder="Nickname" class="form-control" value='{{ name }}' required></p>
            <p>Email<input name="email" placeholder="Email" class="form-control" value="{{ email }}"></p>
            <p>Current password *<input type="password" name="curr_pass" class="form-control" required></p>
            <p>New password<input type="password" name="new_pass" class="form-control"></p>
            <p>Confirm password<input type="password" name="confirm_pass" class="form-control"></p>
            <button type="submit" class="btn btn-success mt-2">Save</button>
          </form>
          <div class="text-success">{{ cool_mess }}</div>
          <div class="text-danger">{{ error_message }}</div>
        </div>
      </div>
    </main>
{% endblock %}
